{% extends 'index.html' %}
{% load static %}
{% block content %}
<form method="POST" action="/admission/student/attendance/">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Weekly Student Attendance Sheet</h4>
                        <div class="form-validation">
                            <form class="form-valide" action="#" method="post" novalidate="novalidate">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="student_name">Student<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="student_name" id="student_name">
                                            <option>Select Student</option>
                                            {% for student in student_list %}
                                            <option value="{{student.id}}">{{student.first_name}} {{student.last_name}} {{student.student_class}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="monday">Monday<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="monday" name="monday" required>
                                            <option>Select Attendance</option>
                                            <option>Present</option>
                                            <option>Absent</option>
                                            <option>Holiday</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="tuesday">Tuesday<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="tuesday" name="tuesday" required>
                                            <option>Select Attendance</option>
                                            <option>Present</option>
                                            <option>Absent</option>
                                            <option>Holiday</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="wednesday">Wednesday<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="wednesday" name="wednesday" required>
                                            <option>Select Attendance</option>
                                            <option>Present</option>
                                            <option>Absent</option>
                                            <option>Holiday</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="thursday">Thursday<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="thursday" name="thursday" required>
                                            <option>Select Attendance</option>
                                            <option>Present</option>
                                            <option>Absent</option>
                                            <option>Holiday</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="friday">Friday<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="friday" name="friday" required>
                                            <option>Select Attendance</option>
                                            <option>Present</option>
                                            <option>Absent</option>
                                            <option>Holiday</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="saturday">Saturday<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="saturday" name="saturday" required>
                                            <option>Select Attendance</option>
                                            <option>Present</option>
                                            <option>Absent</option>
                                            <option>Holiday</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="attendance_percentage">Attendance Percentage<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="attendance_percentage"
                                               name="attendance_percentage" placeholder="Percentage.." required>
                                    </div>
                                </div>
                                <div class="rounded-button">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn mb-1 btn-rounded btn-success">Save Attendance</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
