{% extends 'index.html' %}
{% load static %}
{% block content %}
<!--<h3 align="center">STUDENT REGISTRATION FORM</h3>-->
<form method="POST" class="post-form" action="/admission/teacher/edit/{{teacher_set.id}}/">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Teacher Edit Page</h4>
                        <div class="form-validation">
                            <form class="form-valide" action="#" method="post" novalidate="novalidate">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="first_name">First Name <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="first_name"
                                               name="first_name" value="{{teacher_set.first_name}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="last_name">Last Name <span
                                            class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="last_name" name="last_name"
                                               value="{{teacher_set.last_name}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="gender">Gender
                                    </label>
                                    <div class="col-lg-6">
                                        {% if teacher_set.gender == 'Male' %}
                                        <label class="radio-inline mr-3">
                                            <input type="radio" id="gender" name="gender" value="Male" checked/>Male</label>
                                        <label class="radio-inline mr-3">
                                            <input type="radio" id="gender" name="gender" value="Female"/>Female</label>
                                        {% else %}
                                        <label class="radio-inline mr-3">
                                            <input type="radio" id="gender" name="gender" value="Male" />Male</label>
                                        <label class="radio-inline mr-3">
                                            <input type="radio" id="gender" name="gender" value="Female" checked/>Female</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 m-t-20" for="date_of_birth">Date of Birth<span
                                            class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                                               value="{{teacher_set.date_of_birth|date:'Y-m-d'}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="qualifications">Qualifications<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="qualifications"
                                               name="qualifications" value="{{teacher_set.qualifications}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="subject_teaches">Subject <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="subject_teaches"
                                               name="subject_teaches" value="{{teacher_set.subject_teaches}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="contact_num">Phone<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="contact_num" maxlength="10"
                                               name="contact_num" value="{{teacher_set.contact_num}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="email_id">Email <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="email_id" name="email_id"
                                               value="{{teacher_set.email_id}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="address">Address<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="address" name="address" rows="5">{{teacher_set.address}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="city">City<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="city" name="city"
                                               value="{{teacher_set.city}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="state">State <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="state" name="state"
                                               value="{{teacher_set.state}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="country">Country<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="country"
                                               name="country" value="{{teacher_set.country}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="postal_code">Pin Code
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="postal_code"
                                               name="postal_code" value="{{teacher_set.postal_code}}">
                                    </div>
                                </div>
                                <div class="rounded-button">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn mb-1 btn-rounded btn-success">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
